.App {
  text-align: center;
  margin: 0;
}

#trash {
  margin-right: 15px;
  cursor: pointer;
}

/* ====================================== Srollbar Styling ====================================== */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #6b5b95;
}

::-webkit-scrollbar-thumb {
  background: #12130f;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #24251f;
}


/* ======================================================= Button Styling ======================================================= */

.navigate-to-basic-info, .save-quiz, .discard-quiz, .new-quiz, .proceed-btn {
  
  transform: translate(-50% , -50%);
  background-color: #6b5b95;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}


/*=================================================================== Create new quiz page styling ===================================================================*/

.quiz-info-rect {
  
  transform: translate(-50% , -50%);
  background-color: #21252B;
  width: 600px;
  height: 600px;
  left: 50%;
  top: 50%;
  border-radius: 25px;

  overflow-x: hidden;
  overflow-y: auto;
}

.quiz-info-title {
  
  transform: translate(-50% , -50%);
  color: white;
  top: 7%;
  left: 50%;
  font-size: 38px;
}

.new-quiz-title-label {
  
  transform: translate(-50%, -50%);
  color: white;
  left: 20%;
  top: 30%;
  font-size: 22px;

}

.new-quiz-title {
  
  transform: translate(-50%, -50%);
  top: 30.5%;
  left: 52%;
  width: 40%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
}

.new-quiz-description {
  
  transform: translate(-50%, -50%);
  top: 54%;
  left: 53%;
  width: 80%;
  height: 10%;
  resize: none;
  color: white;
  border: 1px solid #445366;
  outline: none;
}

.new-quiz-title::placeholder {
  color: gray;
}

.new-quiz-desc-label {
  
  transform: translate(-50%, -50%);
  color: white;
  left: 26%;
  top: 44%;
  font-size: 22px;
}

.proceed-btn {
  
  transform: translate(-50%, -50%);
  left: 87%;
  top: 90%;
  width: 80px;
  height: 30px;
}

/* ======================================================= Add Questions Page styling ======================================================= */

.add-questions-rect {
  
  transform: translate(-50% , -50%);
  background-color: #21252B;
  width: 600px;
  height: 800px;
  left: 20%;
  top: 55%;
  border-radius: 25px;
}

.add-questions-title {
  color: white;
  
  transform: translate(-50% , -50%);
  left: 50%;
  top: 5%;
  font-size: 40px;
}

.add-question-text {
  color: white;
  
  transform: translate(-50% , -50%);
  top: 18%;
  left: 12%;
  font-size: 22px;
}

/* ============================================================================================================================================== */

/* .answer1-text, .answer2-text, .answer3-text, .answer4-text {
  color: white;
  
  transform: translate(-50% , -50%);
  left: 12.5%;
  font-size: 22px;
}

.answer1-text {
  top: 30%;
}

.answer2-text {
  top: 40%;
}

.answer3-text {
  top: 50%;
}

.answer4-text {
  top: 60%;
} */
/* ============================================================================================================================================== */

/* .question {
  
  transform: translate(-50% , -50%);
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  width: 65%;
  left: 55%;
  top: 18.25%;
} */
/* ============================================================================================================================================== */
/* .answer1, .answer2, .answer3, .answer4 {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  
  transform: translate(-50% , -50%);
  width: 65%;
  left: 55%;
}

.answer1 {
  top: 30.2%;
}

.answer2 {
  top: 40%;
}

.answer3 {
  top: 50%;
}

.answer4 {
  top: 60%;
} */
/* ============================================================================================================================================== */
/* .correct-answer-text {
  color: white;
  
  transform: translate(-50% , -50%);
  left: 17.5%;
  top: 72%;
  font-size: 22px;
}

.correct-answer {
  
  transform: translate(-50% , -50%);
  top: 72.25%;
  left: 53%;
  width: 40%;
  text-align: center;
  margin: 0;
  padding: 3px;
  background-color: #ffffff;
}

.add-question-btn {
  
  transform: translate(-50% , -50%);
  background-color: #6b5b95;
  border: none;
  border-radius: 25px;
  color: white;
  width: 40%;
  height: 7%;
  cursor: pointer;
  left: 50%;
  top: 90%;
} */

/* ======================================================= Quiz Preview styling ======================================================= */

/* .quiz-preview-rect {
  
  transform: translate(-50% , -50%);
  background-color: #21252B;
  width: 1100px;
  height: 800px;
  left: 200%;
  top: 50%;
  border-radius: 25px;

  overflow-x: hidden;
  overflow-y: auto;
}

.quiz-preview-title {
  color: white;
  
  transform: translate(-50% , -50%);
  left: 50%;
  top: 5%;
  font-size: 40px;
}

.question-preview {
  color: white;
  
  transform: translate(-50% , -50%);
  left: 26%;
  font-size: 26px;
  overflow: hidden;
} */

/* ============================================================================================================================================== */
/* .answer1-radio, .answer2-radio, .answer3-radio, .answer4-radio {
  color: white;
  
  transform: translate(-50% , -50%);
  left: 7%;
}

.answer1-radio {
  top: 30%;
}

.answer2-radio {
  top: 40%;
}

.answer3-radio {
  top: 50%;
}

.answer4-radio {
  top: 60%;
} */
/* ============================================================================================================================================== */

/* .label-for-answer1, .label-for-answer2, .label-for-answer3, .label-for-answer4 {
  color: white;
  
  margin-left: 10% ;
}

.label-for-answer1 {
  top: 27%;
}

.label-for-answer2 {
  top: 37%;
}

.label-for-answer3 {
  top: 47%;
}

.label-for-answer4 {
  top: 57%;
} */
/* ============================================================================================================================================== */

/* .questions-display-preview {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.question-card {
  margin-top: 120px;
  width: 100%;
  height: 300px;
  position: relative;   
  display: flex;
  flex: auto 0 0;  
}

.navigate-to-basic-info {
  width: 12%;
  height: 5%;
  left: 25%;
  top: 5.5%;
}

.save-quiz {
  width: 12%;
  height: 5%;
  left: 50%;
  top: 5.5%;
}

.discard-quiz {
  width: 12%;
  height: 5%;
  left: 37.5%;
  top: 5.5%;
} */